<%- include ../include/header.html %>

<div class="row">
    <div class="col-md-12">
        <ul id="demo">
            <li class="active"> <a href="#"><img src="/lib/images/1.png"  /></a>
                <div><a href="#">基于微信小程序的在线书城开发</a></div>
            </li>
            <li> <a href="#"><img src="/lib/images/2.png"  /></a>
                <div><a href="#">nodejs模块源码require问题</a></div>
            </li>
            <li> <a href="#"><img src="/lib/images/3.png"  /></a>
                <div><a href="#">MongoDB有没有Promise风格的驱动程序？</a></div>
            </li>
            <li> <a href="#"><img src="/lib/images/4.png"  /></a>
                <div><a href="#">基于 koa 开发论坛系统</a></div>
            </li>
            <li> <a href="#"><img src="/lib/images/5.png"  /></a>
                <div><a href="#">Node.js 2016 回顾以及2017展望</a></div>
            </li>
        </ul>
    </div>
</div>
<div class="row topic-con">
    <div class="col-md-8">
        <div class="main-title">热门话题</div>
        <div class="hot-topic">
            <a class="topic-collection" href="#">#node.js入门#</a>
            <a class="topic-collection" href="#">#RESTful api的设计#</a>
            <a class="topic-collection" href="#">#安卓内存溢出#</a>
            <a class="topic-collection" href="#">#html5小游戏#</a>
            <a class="topic-collection" href="#">#mongo数据库设计#</a>
            <a class="topic-collection" href="#">#java面试题精选#</a>
            <a class="topic-collection" href="#">#git指南#</a>
            <a class="more-collection" href="#"><span>更多热门专题</span><i class="fa icon-angle-right"></i></a>
        </div>
        <div class="main-title">热门文章</div>
        <div class="hot-note-con">
            <ul class="note-list">
                <li class="has-img">
                    <a href="#" class="wrap-img"><img src="images/1460085132177.jpeg" alt="1"></a>
                    <div class="note-con">
                        <div class="note-author">
                            <a href="#">name</a>
                            <span>1小时前</span>
                        </div>
                        <a class="note-title" href="#">用五到十年后的目光看待今天的自己</a>
                        <p>
                            文/韩大爷的杂货铺 五到十年后，你想成为一个什么样的人？那时，你期待的职业状况与生活状态是怎样的？那时，你希望自己已经具备了哪方面或哪几种能力？把目光收回来，打量一下现在的自...
                        </p>
                        <div class="note-other">
                            <i class="fa icon-comment"></i><span>3</span>
                        </div>
                    </div>
                </li>
                <li class="has-img">
                    <a href="#" class="wrap-img"><img src="images/1460085132177.jpeg" alt="1"></a>
                    <div class="note-con">
                        <div class="note-author">
                            <a href="#">name</a>
                            <span>1小时前</span>
                        </div>
                        <a class="note-title" href="#">用五到十年后的目光看待今天的自己</a>
                        <p>
                            文/韩大爷的杂货铺 五到十年后，你想成为一个什么样的人？那时，你期待的职业状况与生活状态是怎样的？那时，你希望自己已经具备了哪方面或哪几种能力？把目光收回来，打量一下现在的自...
                        </p>
                        <div class="note-other">
                            <i class="fa icon-comment"></i><span>3</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="note-con">
                        <div class="note-author">
                            <a href="#">name</a>
                            <span>1小时前</span>
                        </div>
                        <a class="note-title" href="#">用五到十年后的目光看待今天的自己</a>
                        <p>
                            文/韩大爷的杂货铺 五到十年后，你想成为一个什么样的人？那时，你期待的职业状况与生活状态是怎样的？那时，你希望自己已经具备了哪方面或哪几种能力？把目光收回来，打量一下现在的自...
                        </p>
                        <div class="note-other">
                            <i class="fa icon-comment"></i><span>3</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<%- include ../include/footer.html %>

