<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nodeBlog</title>
    <link rel="stylesheet" href="/lib/css/bootstrap.css"/>
    <link rel="stylesheet" href="/lib/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/lib/js/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">nodeBlog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav col-md-5">
                <li><a href="/">博客</a></li>
                <li><a href="/questions">问答</a></li>
                <li><a href="/">话题</a></li>
            </ul>
            <ul class="nav navbar-nav nav_right">
                <%
                if(user){
                %>
                    <li><a href="/">消息</a></li>
                    <li><a href="/users/center">个人中心</a></li>
                    <li><a href="/users/logout">退出</a></li>
                    <%
                    }else{
                    %>
                    <li class="active"><a href="/users/reg">注册</a></li>
                    <li><a href="/users/login">登录</a></li>
                <%
                }
                %>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <%
    if(success){
    %>
    <div class="alert alert-success" role="alert"><%=success%></div>
    <%
    }
    else if(error){
    %>
    <div class="alert alert-danger" role="alert"><%=error%></div>
    <%
    }
    %>