<%- include ../include/header.html %>

<div class="header_center">
        <div class="row">
            <div class="col-md-2" style="text-align: center">
                <img class="avatar_center" src="<%=user.avatar%>" width="160" height="160" alt="<%=user.username%>">
            </div>
            <div class="col-md-5">
                <h2 class="profile_name"><%=user.username%></h2>
                <div class="profile_info">
                    <span class="profile_item"><i class="fa icon-map-marker"></i><span><%=user.local%></span><i data-type="local" class="fa icon-pencil send_i"></i></span>
                    <span class="profile_item"><i class="fa icon-user"></i><span><%=user.sex%></span><i data-type="sex" class="fa icon-pencil send_i"></i></span>
                    <span class="profile_item"><i class="fa icon-time"></i><span><%=user.year%></span><i data-type="year" class="fa icon-pencil send_i"></i><span>岁</span></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="intro-plant">
                    <div class="intro-title">
                        <i data-type="sex" class="fa icon-pencil send_i"></i><span> 编辑</span>
                    </div>
                    <div class="intro-con">
                        <%=user.introduce%>
                        签名档
                    </div>
                </div>

            </div>
        </div>
</div>
<input type="hidden" data-type="<%=user._id%>" id="userId">
<div class="row" style="margin-top: 20px">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" id="center_nav_tips">
            <li data-type="article" role="presentation" class="active"><a href="javascript:;">我的文章</a></li>
            <li data-type="ask" role="presentation"><a href="javascript:;">我的提问</a></li>
            <li data-type="answer" role="presentation"><a href="javascript:;">我的回答</a></li>
            <li data-type="comment"  role="presentation"><a href="javascript:;">我的评论</a></li>
        </ul>
    </div>
    <div class="col-md-offset-1 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" id="tip_title">
                文章列表
            </div>
            <ul class="list-group" id="tip_list">

                <%for(var i=0;i<articles.length;i++){
                var article = articles[i];
                %>
                <li class="list-group-item"><a href="/articles/detail/<%=article._id%>"><%=article.title%></a></li>
                <%
                }%>
            </ul>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-2"></div>
</div>



<%- include ../include/footer.html %>

