<%- include ../include/header.html %>

<div class="row">
    <div class="col-md-8">
        <section class="section-list-item clearfix">
            <div class="qa-rank">
                <div class="qa-answer"><span>3</span><small>回答</small></div>
                <div class="qa-view"><span>10</span><small>浏览</small></div>
            </div>
            <div class="qa-summary">
                <p><a href="/">huker</a><span>提问</span></p>
                <h2 class="title">ionic使用对象绑定数据模型</h2>
                <ul>
                    <li>ionic</li>
                    <li>html5</li>
                </ul>
            </div>
        </section>
        <section class="section-list-item clearfix">
            <div class="qa-rank">
                <div class="qa-answer"><span>3</span><small>回答</small></div>
                <div class="qa-view"><span>10</span><small>浏览</small></div>
            </div>
            <div class="qa-summary">
                <p><a href="/">huker</a><span>提问</span></p>
                <h2 class="title">ionic使用对象绑定数据模型</h2>
                <ul>
                    <li>ionic</li>
                    <li>html5</li>
                </ul>
            </div>
        </section>
        <section class="section-list-item clearfix">
            <div class="qa-rank">
                <div class="qa-answer"><span>3</span><small>回答</small></div>
                <div class="qa-view"><span>10</span><small>浏览</small></div>
            </div>
            <div class="qa-summary">
                <p><a href="/">huker</a><span>提问</span></p>
                <h2 class="title">ionic使用对象绑定数据模型</h2>
                <ul>
                    <li>ionic</li>
                    <li>html5</li>
                </ul>
            </div>
        </section>
    </div>
    <div class="col-md-4">

    </div>
</div>

<%- include ../include/footer.html %>