<%- include ../include/header.html %>
<div class="row">
    <div class="col-md-12">
        <div class="qa-panel clearfix">
            <span class="qa-ask-span">文</span>
            <div class="qa-ask-title">
                <h3><%=article.title%></h3>
                <p><a href="/users/userCenter/<%=article.user._id%>"><%=article.user.username%></a><span style="padding: 0 10px">发布于</span>
                    <span class="color_GREY"><%=article.timeGet%></span>
                </p>
            </div>
            <div class="qa-ask-btn">
                <button type="button" data-type="<%=article._id%>" id="collection_btn" class="btn btn-xs btn-primary">收藏</button>
                <button type="button" data-type="<%=article._id%>" id="update_btn" class="btn btn-xs btn-danger">编辑</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="qa-contain">
            <%-article.content%>
        </div>
        <div class="qa-answer-part">
            <div class="qa-answer-title">
                <h4>评论区</h4>
            </div>
            <div class="qa-answer-con">
                <%if(article.comments.length>0){
                    for(var i =0;i<article.comments.length;i++){
                    var comment = article.comments[i];
                    %>
                    <article class="clearfix">
                        <div class="qa-answer-word" style="margin-left: 0;">
                            <div>
                                <%-comment.content%>
                            </div>

                            <p class="answer-info">
                                <a href="/"><%=comment.user.username%></a><span style="padding: 0 10px">评论于</span>
                                <span class="color_GREY"><%=comment.timeGet%></span>
                            </p>
                        </div>
                    </article>
                <%}}else{%>
                <p style="margin-bottom: 20px">暂无</p>
                <%}%>
            </div>
            <div class="answer-form" style="padding: 0;">
                <h4>评论</h4>
                <form action="/articles/comment" method="post" class="clearfix">
                    <input type="hidden" name="_id" value="<%=article._id%>">
                    <div class="form-group">
                        <textarea class="form-control" name="content" id="content" placeholder="请在此撰写评论..." cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">提交评论</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="qa-ask-plant border_GREY">
            <p><img style="border-radius: 50%" src="<%=article.user.avatar%>" alt="<%=article.user.username%>"></p>
            <p>作者:<a href="/users/userCenter/<%=article.user._id%>"><%=article.user.username%></a></p>
            <p>“ 这家伙很懒，什么个性签名都没有留下。 ”</p>
        </div>
    </div>
</div>

<%- include ../include/footer.html %>