/*global*/
footer{
  text-align: center;
  padding:30px 0;
  border-top: 1px solid #e2e2e2;
  margin-top: 30px;
}
.color_GREY{
  color: #8c8c8c;
}
.bgcolor_yellow{
  background: #fcf8e3;;
}
.border_GREY{
  border: 1px solid #f6f6f6;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}
.answer-info{
  margin: 0;
  padding:20px 0 0 0;
}
/*wighet*/
.vote-btn{
  width: 40px;
  height: 54px;
  text-align: center;
  background: #f3f3f3;
  color: #666;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  border: 1px solid transparent;
  font-size: 18px;
}
.vote-btn span{
  display: block;
  margin: 0;
  padding: 0;

}
/*header css*/
.nav_right{
   float: right;
}
/*index css*/
.article_box_under{
  border-bottom: 1px dashed #d9d9d9;
  padding-bottom: 20px;
}
.name_padding{
  padding: 5px 5px 5px 0;
}

/*----------------------center css------------------------*/
.header_center{
  padding: 40px 0;
  background: #f8f8f8;
}
.avatar_center{
  background: #ffffff;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.profile_item{
  display: block;
  color: #666666;
  line-height: 18px;
  margin-top: 10px;
  vertical-align: middle;
}
.profile_name{
  margin: 0;
  padding:0;
}
.profile_item .fa{
  color: #cccccc;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  font-size: 16px;
  text-align: center;
}
.intro-plant{
  background: #f5f5f5;
  height: 120px;
  border-radius: 3px;
  margin-right: 20px;
}
.intro-plant .intro-title{
  width: 100%;
  background: #e3e3e3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px 15px;
}
.intro-plant .intro-con{
  padding: 15px;
}

/*question.css*/
.section-list-item{
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
}
.qa-rank{
  float: left;
  text-align: center;
}
.qa-answer,.qa-view{
  display: inline-block;
  width: 45px;
  height: 40px;
}
.qa-answer{
  color: #ffffff;
  background: #ad3a37;
}
.qa-view{
  color: #cccccc;
}
.qa-rank small{
  display: block;
}
.qa-summary{
  float: left;
  margin-left: 20px;
}
.qa-summary p{
  margin: 0;
  padding: 0;
}
.qa-summary .title{
  font-size: 16px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.qa-summary ul{
  display: inline-block;
  padding: 0;
  margin: 0;
}
.qa-summary ul li{
  list-style: none;
  display: inline-block;
  background: #fcf8e3;
  font-size: 10px;
  padding: 1px 3px;
  text-align: center;
  margin-left: 5px;
  color: #8a6d3b;
}
.qa-ask-plant{
  text-align: center;
  padding: 15px 10px;
  color: #8a6d3b;
  border-radius: 5px;
}
.qa-answer-border{
  border: 1px solid #fbeed5;
}
/*qa detail*/
.qa-panel{
  background: #f6f6f6;
  padding: 15px 0;
  margin-bottom: 30px;
}
.qa-panel .qa-ask-span{
  float: left;
  border: 1px solid #009a61;
  border-radius: 50%;
  padding: 4px;
  display: block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #009a61;
  line-height: 1;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
}
.qa-panel .qa-ask-title{
  display: block;
  margin-left: 10px;
  float: left;
}
.qa-panel .qa-ask-title p{
  margin: 0;
}
.qa-panel .qa-ask-title h3{
  padding: 0;
  margin: 0 0 10px 0;
}
.qa-panel .qa-ask-btn{
  float: right;
}
.qa-panel .qa-ask-btn button{
  display: block;
  margin: 5px 40px 5px 5px;
  width: 50px;
}
.qa-answer-title{
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  margin: 25px 0;
}
.qa-answer-con article{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.qa-answer-con .post-col{
  position: absolute;
}
.qa-answer-con .qa-answer-word{
  float: left;
  margin-left: 60px;
}
.answer-form{
  padding:0 0 0 60px;
}
.answer-form button{
  float: right;
}
/*---------------topic css-------------------*/
#demo img,a{border: 0}
#demo li{list-style-type: none}
#demo li:nth-of-type(1) img { transform: translate(-210px); }
#demo li:nth-of-type(2) img { transform: translate(-180px); }
#demo li:nth-of-type(3) img { transform: translate(-380px); }
#demo li:nth-of-type(4) img { transform: translate(-450px); }
#demo li:nth-of-type(5) img { transform: translate(-320px); }
/*#demo { width: 1160px; height: 512px; margin: 60px auto 0 auto; padding-left: 0}*/
#demo { width: 1160px; height: 260px; margin: 60px auto 0 auto; padding-left: 0}
/*#demo img { width: 820px; height: 512px; max-width: 820px; }*/
#demo img { width: 820px; height: 260px; max-width: 820px; }
#demo li { float: left; position: relative; width: 82px; height: 100%; overflow: hidden; cursor: pointer; transition: 0.5s; transform-origin: bottom; filter: alpha(opacity=50); opacity: 0.5; }
#demo li img { transition: 1.2s; }
#demo li a { display: block; }
#demo li div { position: absolute; bottom: 0; left: 0; width: 100%; background: #000; line-height: 32px; filter: alpha(opacity=70); opacity: 0.7; text-indent: 2em; }
#demo li div a { color: #FFF; text-decoration: none; }
#demo li div a:hover { color: #F00; text-decoration: none; }
#demo li.active { cursor: pointer; transform: scale(1.02, 1.08); z-index: 3; width: 820px; filter: alpha(opacity=100); opacity: 1; }
#demo li.active img { transform: translate(0px); }
#demo li:nth-of-type(1) { transform-origin: bottom left; }
#demo li:nth-of-type(5) { transform-origin: bottom right; }
.topic-con{
  margin-top: 40px;
}
.main-title{
  border-left: 3px solid #ea6f5a;
  padding-left: 10px;
  line-height: 1;
  font-size: 14px;
  margin-bottom: 20px;
}
.topic-con .topic-collection{
  display: inline-block;
  margin: 0 18px 18px 0;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
  padding: 5px;
}
.topic-con .more-collection{
  display: inline-block;
  margin: 0 0 18px 0;
  vertical-align: top;
  padding: 5px;
  color: #666666;
}
.topic-con .more-collection span{
  margin-right: 5px;
}
/*topic notelist*/
.note-list{
  margin: 0;
  padding: 0;
}
.note-list li{
  position: relative;
  width: 100%;
  margin: 0 0 17px;
  padding: 0 2px 17px 0;
  border-bottom: 1px solid #f0f0f0;
  word-wrap: break-word;
  list-style-type: none;
}
.note-list .wrap-img{
  position: absolute;
  top: 50%;
  margin-top: -68px;
  right: 0;
  width: 150px;
  height: 120px;
}
.note-list .wrap-img img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}
.note-list .has-img{
  min-height: 140px;
}
.note-list .note-author{
  margin-bottom: 4px;
  font-size: 13px;
}
.note-list .has-img .note-con{
  padding-right: 160px;
}
.note-list .note-con p{
  font-size: 13px;
  line-height: 24px;
  margin-top: 5px;
}
.note-list .note-con .note-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
.note-list .note-other{
  color: #8c8c8c;
}
.note-list .note-other span{
  padding: 0 3px;
}